* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  list-style: none;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

:root {
  --primaryColor: #86bbff;
  --low: #78ce78;
  --moderate: #f4f06b;
  --high: #f8b567;
  --veryHigh: #ef6666;
  --none: #3ef8b1;
}
